@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {

    /*font colors */
    --font-color-hours: #AAAAAA;
    --font-color-text: #000000;
    --font-color-placeholter-login: #AEAEAE;
    --font-color-buttom-login: #696969;

    /*backgroud color */
    --login-header-send-message: #FFFFFF;
    --login-logout: #DCDCDC;
    --message-private: #FFDEDE;
    --background-main: #F3F3F3;
    --background-button:#E7E7E7;

    /*color border */
    --border-input-login: #D7D7D7;


    font-size: 62.5%;
}

body {
    width:
        /*37.5rem;*/
        100vw;
    height:
        /*auto;*/
        100vh;
    font-family: 'Roboto';
    Font-style: Mixed;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
    letter-spacing: 0em;
    text-align: left;
    color: var(--font-color-text);
    margin-top: 8.9rem;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--login-header-send-message);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.login img {
    width: 13rem;
    height: 9.2rem;
    margin-top: 7.2rem;
}

.login input {
    width: 26rem;
    height: 5.4rem;
    text-align: center;
    color: var(--placeholter-color);
    margin-top: 9.4rem;
    border-radius: 0.4rem;
    border: solid 0.1rem var(--border-input-login);
}

.login button {
    width: 10.9rem;
    height: 4.5rem;
    text-align: center;
    background-color: var(--background-button);
    color: var(--font-color-buttom-login);
    font-size: 1.8rem;
    line-height: 2.5rem;
    letter-spacing: 0em;
    margin-top: 1.5rem;
    border-radius: 0.9rem;
    border: none;
}

header {
    background-color: var(--login-header-send-message);
    width:
        /*37.5rem;*/
        100vw;
    height: 8rem;
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    width: 7.5rem;
    height: 5.3rem;
}

header ion-icon {
    width: 4.5rem;
    height: 4.5rem;
}

header li {
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 2.1rem 1.1rem 2.2rem;
}

.container {
    margin-top: 2.6rem;
}

.container li {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 4rem;
    max-height: auto;
    width: 100%;
    margin-bottom: 0.4rem;
    border-radius: 0.2rem;
    text-align: start;
    padding: 0 0.8rem 0 0.9rem;
    word-break: break-word;
}

.container li span {
    margin-right: 0.5rem;
}

span:nth-child(1) {
    color: var(--font-color-hours);
}

span:nth-child(2) {
    font-weight: 700;
}

.escondido {
    display: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    filter: drop-shadow(0 -2mm rgba(0, 0, 0, 0.05));
    border-radius: 0.6rem;
}

footer input {
    position: relative;
    width:
        /*37.5rem;*/
        100vw;
    height: 8rem;
    border: none;
    padding-left: 1.7rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: 0em;
    text-align: left;
}

footer input::placeholder {
    font-style: italic;
    color: var(--font-color-text);
}


footer ion-icon {
    position: absolute;
    bottom: 2.7rem;
    right: 1.8rem;
}

.send-message {
    background-color: var(--login-header-send-message)
}

.login-logout {
    background-color: var(--login-logout)
}

.message-private {
    background-color: var(--message-private)
}

main {
    background-color: var(--background-main)
}

.separetor {
    padding-bottom: 10rem;
}